#wrapper {
    margin-top: 50px;
}

#sidebar {
    list-style: none;
    font-size: 40px;
    font-weight: bolder;
    text-align: right;
    position: fixed;
}

#home-text{
    max-width: 500px;
    float: right;
    font-size: 100px;
    line-height: 100px;
    font-weight: bolder;
    text-align: right;
}

.line {
    display: flex;
    justify-content: space-between;
}

.line-5 {
    display: flex;
    justify-content: flex-start;
}


/* On the home page, move the sidebar links closer to the text */
#home #sidebar {
    font-size: 60px;
    -webkit-padding-start: 0px;
}

.sidebar-right #sidebar {
    text-align: left;
}

#sidebar a {
    color: black;
}

#sidebar a.active {
    color: #F50C75;
}

#sidebar a:hover {
    text-decoration: none;
    color: #F50C75;
}

/* Fix the top alignment of pages. */
#page-content {
    margin-top: 20px;
}

.magenta {
    color : #F50C75;
}

.content {
    margin-bottom: 50px;
}

.content-heading {
    color: #ccc;
    margin-bottom: 20px;
}