#wrapper {
    margin-top: 50px;
}

#sidebar {
    list-style: none;
    font-size: 40px;
    font-weight: bolder;
    text-align: right;
    position: fixed;
}

.home-text{
    font-size: 100px;
    line-height: 100px;
    font-weight: bolder;
    text-align: right;
}

.home-text span {
    float: left;
}

.line {
    display: inline-flex;
    justify-content: center;
}
.line span {
    /*flex: 1 1 30%;*/
}


/*.home-text .line-1 {letter-spacing: 5px; }*/
/*.home-text .line-2 {letter-spacing: 7px; }*/
/*.home-text .line-3 {letter-spacing: 0px; }*/
/*.home-text .line-4 {letter-spacing: 0px; }*/
/*.home-text .line-5 {letter-spacing: 12px; }*/
/* Left align the "ins" */
/*.home-text .line-5 span {*/
    /*float: left;*/
/*}*/
/*.home-text .line-5 .magenta {*/
    /*margin-left: 67px;*/
/*}*/

/*#home-text-lg {font-size: 100px;}*/
/*#home-text-md {font-size: 60px;}*/
/*#home-text-sm {font-size: 40px;}*/
/*#home-text-xs {font-size: 30px;}*/









/* On the home page, move the sidebar links closer to the text */
#home #sidebar {
    font-size: 60px;
    -webkit-padding-start: 0px;
}

.sidebar-right #sidebar {
    text-align: left;
}

#sidebar a {
    color: black;
}

#sidebar a.active {
    color: #F50C75;
}

#sidebar a:hover {
    text-decoration: none;
    color: #F50C75;
}

/* Fix the top alignment of pages. */
#page-content {
    margin-top: 20px;
}

.magenta {
    color : #F50C75;
}

.content {
    margin-bottom: 50px;
}

.content-heading {
    color: #ccc;
    margin-bottom: 20px;
}